name: CI
on:
  - push
  - pull_request
jobs:
  test:
    strategy:
      matrix:
        platform:
          - Linux
          - macOS
          - Windows
        toxenv:
          - py38
          - py39
          - py310
          - py311
          - py312
        include:
          - platform: Linux
            os: ubuntu-latest
          - platform: macOS
            os: macos-latest
          - platform: Windows
            os: windows-latest
          - toxenv: py38
            python-version: '3.8'
          - toxenv: py39
            python-version: '3.9'
          - toxenv: py310
            python-version: '3.10'
          - toxenv: py311
            python-version: '3.11'
          - toxenv: py312
            python-version: '3.12'
      fail-fast: false
    name: tox -e ${{ matrix.toxenv }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    env:
      TOXENV: ${{ matrix.toxenv }}
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -U coverage tox
      - name: Test
        run: tox
      - name: Generate XML coverage report
        run: coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: TOXENV
          fail_ci_if_error: true
          flags: ${{ matrix.platform }}
